@CHARSET "UTF-8";
/* 상품 상세페이지 롤오버 소스 */

th, tr, td{
	text-align: center;
}

.table {
	width: 60%;
	height:100px;
	margin: auto;
	text-align: center;
}
body{
	text-align: center;
	
}
/* a:hover {text-decoration: none; color: #222;}
a:link {text-decoration: none; color: #f40;}
a:active {text-decoration: none; color: #999;}
a:visited {text-decoration: none; color: #f40;}
 */
/* 전체 틀 레이아웃 설정 */
.top_menu_left{text-align: left; vertical-align: middle; }
.top_menu_right{text-align: right; vertical-align: middle; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.px200 { width:200px;}
.100 { width:100%;}
.px800 { width:800px;}
.auto {padding: 0px;}
#order { font-size: 50px; }

.div {
	align: center;
	width: 100%;
	height: 75px;
	padding : 0 0 auto 0;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
}
.divboard {
	align: center;
	width: 50%;
	height: 100%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	
}

.innerdiv2{ width: 800px;text-align: center;}

.leftdiv {
	align: align;
	margin: auto;
	width: 1200px;
	text-align: left;
}

/* 이미지 사이즈 */
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.input{size: 100%}
/* 파일 업로드 이미지 css*/
.file_input_textbox {float:left; height:29px;}
.file_input_div {position:relative; width:150px; height:150px; overflow:hidden; top:0px; left:0px; display: inline; white-space: nowrap; }
.file_del_div {position:absolute; width:160px; height:160px;  top:0px; left:0px; display: inline; white-space: nowrap; }
 
.file_input_img_btn {position:relative; padding:0 0 0 5px; width: 150px; height:150px; }
.file_input_img_del {position:relative; padding:0 0 0 px; width: 20px; height:20px; top:0px; right:0px; vertical-align: top}
.file_input_hidden {font-size:50px; position:absolute;  width:150px; height:50px; top:0px; left:0px;
opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}


.file_hidden {font-size:0px; position:absolute; right:0px; top:0px; 
opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}

/*별점 css*/
.starcss{size: 100%}

.top-menu-div {
	align: center;
	position: fixed; 
	height: 80px; 
	width: 100%; 
	z-index:10; 
}	

.mid-center{
	text-align: center;
	vertical-align: middle;
}
