@CHARSET "UTF-8";

/* a:hover {text-decoration: none; color: #222;}
a:link {text-decoration: none; color: #f40;}
a:active {text-decoration: none; color: #999;}
a:visited {text-decoration: none; color: #f40;}
 */


.innerdiv2{ width: 800px;text-align: center;}
.top_menu_left{text-align: left; vertical-align: middle; }
.top_menu_right{text-align: right; vertical-align: middle; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.mid { vertical-align: middle;}
.px200 { width:200px;}
.100 { width:100%;}
.top_table_height { height:75px;}
.px800 { width:800px;}
.auto {padding: 0px;}


/* 로고 사이즈 */
.logo {
	text-align: center;
	height: 90%;
	vertical-align: middle;
}

/* Top 고정 */ 
.top-menu-div {
	align: center;
	position: fixed; 
	height: 80px; 
	width: 100%; 
	z-index:10; 
}
.top-logo{
	width: 70px;
	height: 70px;
	position: fixed; 
	z-index:11; 
}
.top-login{
	width: 150px;
	height: 40px;
	position: fixed; 
	z-index:50; 
	right: 0px;
	top : 20px;
	text-align : center;
	background-color: #fff;
	
}
.top-search{
	width: 80%;
	height: 70px;
	z-index:11;
	text-align: left;
	vertical-align: middle;
	position: fixed; 
	left:75px;
}

.top-table{
	width: 100%;
	height: 70px;
	z-index:11;
	text-align: left;
}
.form-text{
	border-color: #fff;
	width : 50%;
}
